.nav-text {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

#task_pnr {
    text-transform: uppercase;
}

#pax_name, #task_airline {
    text-transform: capitalize;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}