{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add Booking</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_booking')}}">

            <!-- PNR field-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-barcode prefix light-blue-text text-darken-4"></i>
                    <input id="task_pnr" name="task_pnr" type="text" minlength="6" maxlength="6" class="validate" required>
                    <label for="task_pnr">P N R</label>
                </div>
            </div>

            <!-- passenger/s name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-address-card prefix light-blue-text text-darken-4"></i>                    
                    <input id="pax_name" name="pax_name" minlength="5" maxlength="100" 
                        class="validate" type="text" required>
                    <label for="pax_name">Name of Passenger/s</label>
                </div>
            </div>

            <!-- airline/s name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-plane prefix light-blue-text text-darken-4"></i>
                    <input id="task_airline" name="task_airline" type="text" minlength="2" maxlength="100" class="validate" required>
                    <label for="task_airline">Name of Airline/s</label>
                </div>
            </div>

            <!-- for ticket number/s-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons light-blue-text text-darken-4 prefix">confirmation_number</i>
                    <input id="ticket_number" name="ticket_number" type="text" minlength="5" 
                        maxlength="100" pattern="^[0-9]{13,100}$" class="validate" required>
                    <label for="ticket_number">Ticket Number/s</label>
                </div>
            </div>

            <!-- date of issue -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                    <input id="date_issue" name="date_issue" type="text" class="datepicker validate" required>
                    <label for="date_issue">Date of Issue</label>
                </div>
            </div>
            
            <!-- additional comments section -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-address-card prefix light-blue-text text-darken-4"></i>                    
                    <textarea id="task_comment" name="task_comment" minlength="5" maxlength="100" class="materialize-textarea validate" required></textarea>
                    <label for="task_comment">Additional Comments:</label>
                </div>
            </div>

            <!-- is refunded switch -->
            <div class="row">
                <div class="input-field col s12">
                    <div class="switch">
                        <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>  
                        <label for="is_refunded" >                        
                        <input type="checkbox" id="is_refunded" name="is_refunded">
                        <span class="lever"></span>
                            Is it Refunded?
                        </label>
                    </div>
                </div>
            </div>
            
            <!-- submit and cancel new booking -->
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('get_tasks') }} " class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow validate">
                        Add Booking <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>

        </form>
    </div>

{% endblock %}