{% extends "base.html" %}
{% block content %}   
  
    <h3 class="light-blue-text text-darken-4 center-align">All Bookings</h3>

    <ul class="collapsible popout">
        {% for task in tasks %}
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
            
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    {% if session.user|lower == task.created_by|lower %}
                    <a href="" class="btn-small green-accent-4">Completed</a>
                    <a href="{{ url_for('update_booking', task_id=task._id ) }}" class="btn-small light-blue lighten-1">Update</a>
                    {% endif %}
                </div>
                
                <div class="col s9">
                    <strong>PNR: {{ task.task_pnr }}</strong>
                    {% if task.is_refunded == "on" %}
                        <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped" data-position="bottom" data-tooltip="Refunded"></i>
                    {% endif %}
                </div>

            </div>
            <div class="collapsible-body">
                <p>Name/s: <strong>{{ task.pax_name }}</strong></p>
                <p>Airline/s: <strong>{{ task.task_airline }}</strong></p>
                <p>Ticket Number/s: <strong>{{ task.ticket_number }}</strong></p>
                <p>Issue Date: <strong>{{ task.date_issue }}</strong></p>
                <p>by: {{ task.created_by }}</p>
            </div>
        </li>
        {% endfor %}        
  </ul>

{% endblock %}
